body {
  background-image: url("../images/index-gradient.png");
  background-repeat: repeat-x;
  font-family: sans-serif;
  line-height: 1.3em;
}

body#page {
  background-image: url("../images/content-gradient.png");
}

#unilogo {
  position: absolute;
  top: 85px;
  left: 3%;
}

#page #unilogo {
  top: 50px;
}

#lassylogo {
  position: absolute;
  top: 75px;
  right: 2%;
}

#page #lassylogo {
  top: 45px;
}

#sliders {
  background-image: url("../images/screenshot.png");
  position: absolute;
  top: 150px;
  left: 26%;
  height: 115px;
  width: 156px;
  overflow: hidden;
  border: 1px solid #EEE;
}

#sliders img {
  position: absolute;
}

#democleslogo {
  position: absolute;
  top: 164px;
  left: 46%;
}

#page #democleslogo {
  top: 46px;
  left: 34%;
}

#navigationbar {
position: absolute;
top: 283px;
  width: 100%;
  height: 48px;
  background-image: url("../images/navigation-gradient.png");
  background-repeat: repeat-x;
  background-position: bottom;
}

#page #navigationbar {
  background-image: url("../images/content-navigation-gradient.png");
  top: 115px;
}

#navigation {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin: 0 0 0 -25%;
  white-space: nowrap;
}

#navigation li a {
  display: block;
  background: url("../images/unselected-tab-left.png") no-repeat left top;
  border: solid #afafaf;
  border-width: 0px 0px 1px 0px;
  padding: 6px 20px 4px 20px;
  margin: 0 0 0px 0;
}

#navigation li {
  display: block;
  float: left;
  list-style: none;
  background: url("../images/unselected-tab-right.png") no-repeat right top;
  margin-right: 0.5em;

}

#navigation #selected a {
  font-weight: bold;
  background: url("../images/selected-tab-left.png") no-repeat left top;
  border: solid white;
  border-width: 0px 0px 1px 0px;
}

#navigation #selected {
  background: url("../images/selected-tab-right.png") no-repeat right top;
}

#navigation :link {
  font-size: small;
  color: #333;
  text-decoration: none;
}

#navigation :visited {
  font-size: small;
  color: #333;
  text-decoration: none;
}

#index #content {
  position: relative;
  margin-top: 360px;
  margin-left: 20%;
  margin-right: 7%;
}

#gettingstarted {
  position: relative;  
  float: right;
  width: 28%;
}

#news {
  position: relative;
  width: 70%;
}

#page #content {
  position: relative;
  margin-top: 190px;
  margin-left: 2%;
  width: 96%;
}

#sidebar {
  position: relative;  

  float: left;
  width: 26%;
}

#text {
  position: relative;
  margin-left: 29%;
}

h1 {
  font-size: x-large;
  border-bottom: 2px solid #d7d7d7;
  margin-bottom: 0.8em;
}

h2 {
  font-size: large;
  border-bottom: 2px solid #d7d7d7;
  margin-bottom: 0.8em;
}

h3 {
  border-bottom: 2px solid #f0f0f0;
  margin-bottom: 0.8em;
}

ul {
  margin-bottom: 1em;
  list-style-type: square;
  margin-left: 1em;
}

ol {
  margin-bottom: 1em;
  list-style-type: decimal;
  margin-left: 1.5em;
}

p {
  margin-bottom: 1em;
}

:focus {
  outline: 1px dotted #444;
}

#footer {
  background-image: url("../images/footer-gradient.png");
  background-repeat: repeat-x;
  background-position: top;
  padding-top: 67px;
  height: 41px;
  text-align: center;
  color: #bebebe;
  font-size: x-small;
}

span.action {
  font-style: italic;
  background-color: #eee;
  border: 1px solid #f8f8f8;
}
